/*
    RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.container-header-bottom{
    max-width: 700px;
    margin: 0 auto;
}
.my-row{
    display: flex;
    flex-wrap: wrap;
}

/*
    COLUMNS
*/
.column-1-6{
    width: calc(100% / 6);
}
.column-2-3{
    width: calc((100% / 3) * 2);
    
}
.column-2-5{
    width: calc((100% / 5) * 2);
    
}.column-3-5{
    width: calc((100% / 5) * 3);
    
}

/* 
    HEADER
*/
header .header-top{
    padding: 10px 0;
}
header .header-top .menu > *{
    padding: 10px;
}
header .header-top .menu .main-nav{
    text-align: center;
}
header .header-top .menu .login{
    text-align: right;
}
header .header-bottom{
    padding: 50px 0;
}

/* 
    MAIN
*/
main > section{
    padding: 40px 0;
}


/* 
    FOOTER
*/



/*
    DEBUG
*/
.debug header .header-top{
    background-color: lightblue;
}
.debug header .menu{
    background-color: yellow;
}
.debug header .menu > *{
    border: 2px dashed black;
}
.debug header .header-bottom{
    background-color: blue;
    
    
}
.debug header .header-bottom .Display-center-header-bottom{
    background-color: purple;
    height: 400px;
    border: 2px dashed black;
}
.debug main section .large-column{
    height: 400px;
    background-color: dodgerblue;
    border: 2px dashed black;
}
.debug main section .small-column{
    height: 400px;
    border: 2px dashed black;
    background-color: pink;

}
